page-slider {
	.swiper-pagination-bullet {
		background: #E9E2D0;
		opacity: 1;
		transition: all ease-out 200ms;
	}
	.swiper-pagination-bullet-active {
		width: 2rem;
		border-radius: 5rem;
		background: #E8630A;
	}
}
